<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.a1521315.test02"
    android:versionCode="1"
    android:versionName="1.0">

    <uses-sdk
        android:minSdkVersion="7"
        android:targetSdkVersion="17" />

    <uses-feature android:name="android.hardware.usb.accessory" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.INTERNET" />

    <android:uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:name=".Globals"
        android:allowBackup="true"
        android:icon="@drawable/kenkatsu"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <!-- USB ATTACHED -->
            <intent-filter>
                <action android:name="android.hardware.usb.action.USB_ACCESSORY_ATTACHED" />
            </intent-filter>

            <meta-data
                android:name="android.hardware.usb.action.USB_ACCESSORY_ATTACHED"
                android:resource="@xml/accessory_filter" />
        </activity>
        <!-- suppress AndroidDomInspection -->
        <activity
            android:name=".MainUser"
            android:label="@string/name_main_user"
            android:screenOrientation="landscape" />
        <activity
            android:name=".MenuSelect"
            android:label="@string/name_menu_select"
            android:screenOrientation="landscape" />
        <activity
            android:name=".VideoSelect"
            android:label="@string/name_video_select"
            android:screenOrientation="landscape" />
        <activity
            android:name=".VideoPlay"
            android:screenOrientation="landscape" />
        <activity
            android:name=".SelectSheetListView"
            android:label="@string/name_selectsheet_listview"
            android:screenOrientation="landscape" />
        <activity
            android:name=".SelectSheetListView1"
            android:screenOrientation="landscape" />
        <activity
            android:name=".SelectSheetProduct1"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Result"
            android:screenOrientation="landscape" />
        <activity
            android:name=".PauseResult"
            android:screenOrientation="landscape" />
        <activity
            android:name=".TimeoutResult"
            android:screenOrientation="landscape" />
        <activity
            android:name=".NormalResult"
            android:screenOrientation="landscape" />
        <activity
            android:name=".SelectSheetTable1"
            android:label="@string/name_selectsheet_tabel"
            android:screenOrientation="landscape" />
        <activity
            android:name=".UserUpdate"
            android:label="@string/name_update_user"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Dictionary"
            android:label="@string/dictionary"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Search"
            android:label="@string/search"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Resulttweet"
            android:label="@string/search"
            android:screenOrientation="landscape" />
        <activity
            android:name=".TrainingSelect"
            android:label="@string/name_training_select"
            android:screenOrientation="landscape" />
        <activity
            android:name=".GraphSelect"
            android:screenOrientation="landscape" />
        <activity
            android:name=".GraphMile"
            android:screenOrientation="landscape" />
        <activity
            android:name=".GraphTime"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Login"
            android:screenOrientation="landscape" />
        <activity
            android:name=".TimeAttackVideoPlay"
            android:screenOrientation="landscape" />
        <activity
            android:name=".NormalResultTweet"
            android:screenOrientation="landscape"/>
        <activity
            android:name=".PauseResultTweet"
            android:screenOrientation="landscape"/>
        <activity
            android:name=".TimeoutResultTweet"
            android:screenOrientation="landscape">
        </activity>
    </application>

</manifest>